        /*  =======================
                All Common Css Start
            =======================   */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff1);
}
ul,ol,li{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

:root{
    --praimary-color:#007F5F;
    --ff1:'Poppins', sans-serif;
    --peragraph-color:#616161;
    --heading-color:#1E1E1E;
}
.common_heading{
    max-width: 692px;
    margin: 0 auto;
    text-align: center;
}
.common_heading h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.2px;
    color: var(--heading-color);
    padding-bottom: 20px;
}
.common_heading p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--peragraph-color);
    
}

        /*  =======================
                All Common Css End
            =======================   */

            
            /*  =======================
                Navbar part start
            =======================   */

#navbar{
    padding: 40px 0;
}
.navbar-nav li{
    margin:0 15px;
}
.navbar-nav li a{
    font-family: var(--ff1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--peragraph-color);
}
.nav-btn a{
    padding: 16px 35px;
    background: var(--praimary-color);
    border-radius: 17px;
    font-family: var(--ff1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:white;
    text-decoration: none;
}

          /*  =======================
                Navbar part end
            =======================   */


          /*  =======================
                Banner part start
            =======================   */

#banner{
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.overlay{
    background: rgba(0, 0, 0, 0.4);
    padding-top: 147px;
    padding-bottom: 122px;
}
.banner-info h2{
    font-family: var(--ff1);
    font-size: 65px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding-right: 280px;
    padding-bottom: 20px;
}
.banner-info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    font-family: var(--ff1);
    padding-right:265px;
    padding-bottom: 20px;
    opacity: 0.7;
    
}
.banner-info a{
    padding: 16px 35px;
    background: var(--praimary-color);
    border-radius: 17px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:white;
    border: none;
}
.search_box{
    padding: 24px 26px;
    background: white;
    margin-top: 60px;
    max-width: 850px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);
    border-radius: 0px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.search_box .item{
    display: flex;
    width: 150px;
    gap: 10px;
    
}
.search_box .item svg{
    stroke: var(--praimary-color);

}
.search_box .search{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.search_box .search select option:nth-child(1){
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #292929;
}
.search_box .search select {
    border: none;
}
.search_box .search input{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #222;
    border: none;
}
.search_box .search input::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6A6A6A;
}

.search_box .item button{
    border: none;
    background: var(--praimary-color);
    padding: 30px;
    border-radius: 10px;
    border: none;
}
.search_box .item button svg{
    stroke: white;
    width: 22px;
    height: 22px;
}

          /*  =======================
                Banner part end
            =======================   */

          /*  =======================
                travel part start
            =======================   */
#travel{
    padding-top: 150px;
}
.travel_item{
    padding: 50px;
}
.travel_item:hover{
    background: white;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
}
.travel_item .image{
    width: 84px;
    height: 75px;
    background: rgba(0, 127, 95, 0.1);
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.travel_item .info h3{
    font-weight: 500;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--heading-color);
    padding-bottom: 12px;
}
.travel_item .info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--peragraph-color);
    padding-right: 42px;
}

          /*  =======================
                travel part end
            =======================   */


          /*  =======================
                Popular part start
            =======================   */
#popular{
    padding-top: 100px;
}
#popular .common_heading{
    margin: 0 auto;
    text-align: center;
}
.popular_item{
    padding: 20px;
    border-radius: 14px;
    margin: 15px ;
}
.slick-center .popular_item{
    background: #FFFFFF;
    
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
}
.popular_item .image{
    overflow: hidden;
    border-radius: 14px;
}
.popular_item .image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.popular_item .stars{
    padding-top: 40px;
    color: #E0E0E0;
}
.popular_item .stars span{
    color: #FF8B00;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding-left: 5px;
}
.popular_item .stars .star-1{
    color: #FF8B00;
}
.popular_item h3{
    font-weight: 500;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--heading-color);
    padding-top: 10px;
}
.popular_item p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--peragraph-color);
    padding-top: 15px;
}
.popular_item .dollar b{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--heading-color);
}
.popular_item .dollar span{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--peragraph-color);
}
.popular_item a{
    padding: 10px 35px;
    border-radius: 17px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--praimary-color);
    margin-top: 30px;
    border: 2px solid var(--praimary-color);

}
.slick-center .popular_item a{
    padding: 10px 35px;
    border-radius: 17px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color:#fff ;
    background: var(--praimary-color);
    margin-top: 30px;
    border: 2px solid var(--praimary-color);

}



/*  =======================
                Popular part end
            =======================   */


          /*  =======================
                Discover part start
            =======================   */
#discover{
    padding-top: 150px;
    background: rgba(30, 30, 30, 0.05);
    
}
.discover .left {
    padding-right: 50px;
    padding-top: 40px;
}
.discover .left h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.2px;
    color: var(--heading-color);
}
.discover .left p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--peragraph-color);
}
.discover .left .text_main .check{
    margin-right: 10px;
}

.discover .left .text_main .check i{
    color: var(--praimary-color);
    
}
.discover .left a{
    padding: 16px 35px;
    background: var(--praimary-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-radius: 17px;
    color: white;
    margin-top: 40px;
    
}
.right{
    padding-left: 100px;
    flex-wrap: wrap;
}
.right .item{
    padding: 62px 32px;
    margin-right: 30px;
    background: white;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);
    border-radius: 17px;
    margin-bottom: 30px;
    cursor: pointer;
}
.right .item:hover{
    background: var(--praimary-color);
    color: #fff;
}

.right .item .icon{
    width: 74px;
    height: 78px;
    background: rgba(0, 127, 95, 0.1);
    border-radius: 14px;
    margin-bottom: 20px;
}
.right .item:hover .icon{
    background: #fff;
}
.right .item:hover .info h3 {
    color: #fff;
}
.right .item .info h3{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.2px;
    color: var(--heading-color);
}
.right .item .info p{
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: var(--peragraph-color);
}
.right .item:hover .info p {
    color: #fff;
}












          /*  =======================
                Discover part end
            =======================   */






          /*  =======================
                Banner part start
            =======================   */
          /*  =======================
                Banner part end
            =======================   */
          /*  =======================
                Banner part start
            =======================   */
          /*  =======================
                Banner part end
            =======================   */

   
